* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    width: 360px;
    background: #FAFAFA;
    margin: 0 auto;
    padding: 20px 10px;
    color: #2B2F39;
}

header {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px 10px;
    margin-bottom: 16px;
}

.logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #2B2F39;
    margin: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search {
    position: relative;

    grid-column: 1 / 3;
}

.search-input {
    border: none;
    padding: 16px 18px;
    border-radius: 6px;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.search-btn {
    position: absolute;
    top: 16px;
    right: 18px;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}

.search-input::placeholder {
    font-weight: 500;
    color: #2B2F39;
}

.search-btn:hover {
    transform: scale(1.1);
}

.item {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 1rem;
    padding: 0.6em;
    margin: 0.5rem 0;
    border-radius: 6px;
    background-color: #fff;
}

.img {
    width: 132px;
    height: 74px;
    object-fit: cover;
    border-radius: 6px;
    flex-shrink: 0;
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-title {
    font-size: 14px;
    margin: 0;
    height: 34px;
    overflow: hidden;
}

.info-artist {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
    color: #9499a6;
}

.info-footer {
    display: grid;
    grid-template-columns: 10px auto auto;
    gap: 4px;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.0025em;
    color: #5D6067;
}
.info-views {
    justify-self: right;
    margin: 0;
}

